.sidebar {
    padding: 0;
    list-style: none;
    margin: 0 0 10px 0;
}

.sidebar > li {
    display: block;
    /* border: 1px solid #e5e5e5; */
    padding: 5px 10px;
}

.sidebar > li > a {
    /* display: block; */
    /* padding: 7px 15px; */
    /* border: 1px solid #e5e5e5; */
    /* margin: 0 0 -1px; */
}

.top-buffer {
    margin-top: 20px;
}

.clickable {
    cursor: pointer;
}
