.sidebar {
    padding: 0;
    list-style: none;
    margin: 0 0 10px 0;
}

.sidebar > li {
    display: block;
    /* border: 1px solid #e5e5e5; */
    padding: 5px 5px;
}

.sidebar > li > a {
    /* display: block; */
    /* padding: 7px 15px; */
    /* border: 1px solid #e5e5e5; */
    /* margin: 0 0 -1px; */
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.clickable {
    cursor: pointer;
}

.entry {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: -1px;
}

.entry-container:first-child .entry {
    border-top: 0;
}

.entry-container:last-child .entry {
    border-bottom: 0;
}

.entry-heading {
    height: 25px;
    line-height: 25px;
}

.entry.read .entry-heading {
    color: #666666;
}

.entry.unread .entry-title {
    font-weight: bold;
}

.form-signin {
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px #ddd solid;
    margin: 40px auto;
    text-align: center;
}

.ellipsis {
    display: block;
    white-space: nowrap;
}

.ellipsis-clipped {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.ellipsis-full {
    display: block;
    float: right;
    /* padding-left: 10px; */
}
