{% extends 'layout.html' %}
{% block body %}
<script type="text/tempalte" id="entry-view-template">
    <div class="entry">
        <span class="clickable entry-title <%= read ? 'read' : 'unread' %>"><%= title %></span>
        <span class="entry-starred"><%= starred ? '[starred]' : '[not starred]' %></span>
        <span class="entry-read"><%= read ? '[read]' : '[not read]' %></span>
        <div class="well entry-content hidden">
            <%= content %>
        </div>
    </div>
</script>

<div id="page" class="top-buffer">
    <div id="alerts">
    </div>

    {#
    <div>
        <form class="form-inline" method="post" action="{{ url_for('feeds.subscribe') }}">
            {{ subscribe_form.csrf_token }}
            {{ subscribe_form.url(class="input", placeholder=subscribe_form.url.label.text) }}
            {{ subscribe_form.submit(class="btn btn-medium") }}
        </form>
    </div>
    #}

    <div class="row">
        <div class="span3">
            <ul id="settings" class="sidebar">
            </ul>

            <ul id="navigation" class="sidebar">
            </ul>

            <ul id="feeds" class="sidebar">
            </ul>
        </div>
        <div class="span9">
            <div id="entries">
            </div>
        </div>
    </div>
</div>
{% endblock %}
