{% extends 'layout.html' %}
{% block body %}
<script type="text/tempalte" id="entry-view-template">
    <div class="entry">
        <span class="clickable entry-title <%= read ? 'read' : 'unread' %>"><%= title %></span>
        <span class="entry-date"><%= date %></span>
        <span class="entry-starred"><%= starred ? '[starred]' : '[not starred]' %></span>
        <span class="entry-read"><%= read ? '[read]' : '[not read]' %></span>
        <div class="well entry-content hidden">
            <%= content %>
        </div>
    </div>
</script>

<div id="page" class="top-buffer bottom-buffer">
    <div id="alerts">
    </div>
    <div class="row">
        <div class="span3">
            <ul id="navigation" class="sidebar">
            </ul>

            <ul id="feeds" class="sidebar">
            </ul>
        </div>
        <div class="span9">
            <div id="entries">
            </div>
        </div>
    </div>
</div>
{% endblock %}
