<!doctype html>
<html lang="en">
    <head>
        <title>RSS Reader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
        <script src="{{ url_for('static', filename='js/backbone.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>

        <script>
            showNotification = function(text) {
                message = $("<div class='alert fade in'>" + text + "</div>");
                message.append("<a class='close' data-dismiss='alert' href='#'>&times;</a>");
                message.delay(2000).fadeOut("slow", function() {
                    $(this).remove();
                });
                $('#alerts').append(message);
            };
        </script>
    </head>
    <body>
        {% block header %}
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ url_for('main.index') }}">RSS Reader </a>
                    <p class="navbar-text pull-right">
                    {% if current_user.is_authenticated() %}
                    logged as {{ current_user.login }}
                    <a href="{{ url_for('user.logout') }}">Log out</a>
                    </p>
                    {% else %}
                    <a href="{{ url_for('user.login') }}">Log in</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
