<!doctype html>
<html lang="en">
    <head>
        <title>RSS Reader</title>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        {% block css %}
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
        {% endblock %}

        <script>
            showNotification = function(text) {
                message = $("<div class='alert fade in'>" + text + "</div>");
                message.append("<a class='close' data-dismiss='alert' href='#'>&times;</a>");
                message.delay(2000).fadeOut("slow", function() {
                    $(this).remove();
                });
                $('#alerts').append(message);
            };
        </script>

        <script type="text/template" id="manage-feed-item-template">
            <%= title %> - 
            <a href='#' class='remove-feed'>remove</a>
        </script>

        <script type="text/template" id="entry-nav-link">
            <li class="ellipsis">
                <span class="ellipsis-full">
                    <%- unread_entries_count %>
                </span>
                <a href="feeds/<%= id %>" class="ellipsis-clipped">
                    <%- title || url %>
                </a>
            </li>
        </script>
    </head>
    <body>
        {% block navbar_header %}
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ url_for('frontend.index') }}">RSS Reader </a>
                    <!-- <p class="navbar-text pull-right"> -->
                    <ul class="nav pull-right">
                        {% if current_user.is_authenticated() %}
                        <li>
                            <p class="navbar-text">
                            <i class="icon-user icon-white"></i> {{ current_user.login }}
                            </p>
                        </li>
                        <li>
                            <a href="/logout" data-bypass>Log out</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/login" data-bypass>Log in</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- </p> -->
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="container top-buffer bottom-buffer">
            {% for message in get_flashed_messages() %}
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}

            {% block body %}
            {% endblock %}
        </div>

        <div id="subscription-form" class="modal hide fade" tabindex=-1 role="dialog"
            aria-labelledby="modal-form-title" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="modal-form-title">Add
                    subscription</h3>
            </div>
            <div class="modal-body">
                <form class="form-inline" id="url-form">
                    <label for="url">Subscribe to url:</label>
                    <input type="url" placeholder="Url" id="url" required>
                    <button type="submit" class="btn">Subscribe</button>
                </form>
                <hr>
                <form class="form-inline" id="opml-form">
                    <label for="opml">Upload OPML:</label>
                    <input type="file" id="opml" name="opml" accept="text/xml" required>
                </form>
            </div>
        </div>

        <div id="manage-feeds-form" class="modal hide fade" tabindex=-1 role="dialog"
            aria-labelledby="modal-form-title" aria-hidden="true">
            <form class="form-inline">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="modal-form-title">Manage
                        subscriptions</h3>
                </div>
                <div class="modal-body">
                    <ul>
                    </ul>
                </div>
            </form>
        </div>

    </body>

    <script data-main="js/main"
        src="{{ url_for('static', filename='js/libs/require.js')}}"></script>

</html>
