{% extends 'layout.html' %}

{% block css %}
{{ super() }}
<style>
    body { background-color: #f5f5f5; }
</style>
{% endblock %}

{% block body %}
<form class="form-signin" method="post">
    {{ form.csrf_token }}
    {{ form.login(class="input-block-level", placeholder=form.login.label.text,
    autofocus=true, required=true) }}
    {{ form.password(class="input-block-level",
    placeholder=form.password.label.text, required=true) }}
    {{ form.submit(class="btn btn-large btn-primary") }}
</form>
{% endblock %}
